@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(50, 50, 50, 0.5); 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    backdrop-filter: blur(10px);
    border: 1px solid white;
    border-radius: 10px;
    width: 800px;
    height: 600px;
}

.upper-container, .lower-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.upper-container {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 50px;
}

input, button, .guess, .logout, .play-again {
    margin: 10px 0;
    color: white;
    background: rgba(50, 50, 50, 0.5); 
    padding: 15px 20px;
    width: 200px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

input.guess, button {
    display: block; 
}

button, .guess, .logout, .play-again {
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    background-color: rgba(50, 50, 50, 0.5);
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 10px; 
}

button:hover, .logout:hover, .play-again:hover {
    background-color: #dc143c;
}

.winner {
    color: green;
    font-size: 50px;
    font-weight: bolder;
}

.green {
    color: green;
    font-size: 50px;
    font-weight: bolder;
}

.red {
    color: red;
    font-size: 50px;
    font-weight: bolder;
}

h2{
    margin-bottom: 20px;
}