@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: white;
    background-image: url(bg-stars.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(49, 41, 41, 0.568); 
    border: 1px solid white; 
    border-radius: 10px;
    width: 800px;
    height: 500px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

.left-panel, .right-panel {
    border: 1px solid;
    border-color: rgba(255, 255, 255, 1);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red{
    color: red;
    font-size: 50px;
    font-weight: bolder;
}

.green{
    color: green;
    font-size: 50px;
    font-weight: bolder;
}

.left-panel {
    padding: 40px;
    color: white;
    border-radius: 10px 0 0 10px;
    text-align: center;
}

.left-panel h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}

.left-panel p {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

.right-panel {
    padding: 50px;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-panel h2 {
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input {
    background-color: #f5f5f5;
}

button {
    background: rgba(49, 41, 41, 0.568);
    color: white;
    font-size: 15px;
    border: 1px solid white;
    cursor: pointer;
    padding: auto;
}

button:hover {
    background-color: #0056b3;
}

.error{
    margin-top: 30px;
    color: red;
    text-transform: uppercase;
    text-align: center;
}
